@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$primary-color: red;

$help-signal-color: #a94442;
$drinks-signal-color: #3170ff;
$check-signal-color: #3c763d;
$notification-background-color: rgba(255, 0, 0, 0.4);

$modal-padding: 20px;

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}