@import 'base';

md-toolbar{
  span{
    font-size: 30px;
  }

  h4{
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

#confirm-btn{
    position: relative;
    text-align: right;
}

.cart-toolbar{
  button{
    float: right;
    width: auto;
  }
}