@import 'base';

.main {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;

  background-image: url(../img/search.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: $font;

  h1 {
    margin-bottom: 20px;
    color: #FFF;
    font-weight: bold;
  }

  .search-btn {
    width: 190px;
    margin-top: 20px;
    font-weight: bold;
  }
}