.tablet {
  width: 100%;
  overflow: auto;

  .md-toolbar-tools {
    font-size: 36px;
  }

  .tables {
    float: left;
    width: 70%;
  }

  .feed {
    float: right;
    width: 30%;
  }

  .table-data {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }

  .table {
    position: absolute;
    display: inline-block;
    margin: 0;
    font-family: 'Lato';
    color: white;
    right: 0;
    overflow: visible;
  }

  .table-number {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 14px;
    font-size: 24px;
  }

  .signal-icon {
    color: #a94442;
    position: absolute;
    top: -30px;
    left: -10px;
  }

  .drinks-icon {
    color: #3170ff;
    position: absolute;
    top: 40px;
    left: -10px;
  }

  .check-icon {
    color: #3c763d;
    position: absolute;
    top: 40px;
    left: 45px
  }

  .notifications {
    position: absolute;
    top: -20px;
    left: 40px;
    color: white;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 100px;
    border: 1px solid red;
    font-size: 20px;
  }

  .alert {
    font-size: 20px;
  }

  .close-alert-btn {
    float: right;
    margin-left: 10px;
  }

  md-toolbar {
    margin-bottom: 15px;
  }
}