<div class="cart" ng-controller="CartCtrl">
    <!--<h1>Food Cart!</h1>-->
    <!--<h3>These are the menu items that you have added to your cart. Please feel free to delete or edit any of your orders.</h3>-->

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Food Cart!</span>
        </h2>
        <h4 id="description">These are the menu items that you have added to your cart. Please feel free to delete or edit any of your orders.</h4>
    </md-toolbar>


    <div class="cart">
        <table class="table" id="cart-list">
            <thead>
            <tr>
                <th> </th>
                <th>Menu Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in cart">
                <td><button  ng-click="remove(items)"><i class="fa fa-minus"></i></button></td>
                <td>{{items.name}}</td>
                <td>{{items.price}}</td>
                <td><button id='quantity' type="button" ng-click="">{{items.quantity}}</button></td>
            </tr>
            </tbody>
        </table>
        <p style="text-align: right"> Tax: {{tax() | currency}}</p>
        <p style="text-align: right"> Total Price: {{totalCost() | currency}}</p>

    </div>

    <md-button id="confirm-btn" type="submit" class="md-raised md-primary"
            ui-sref="order-confirm" ng-click="saveOrder()">
            Confirm order
    </md-button>

</div>