<div class="main" ng-controller="MainCtrl">
    <section class="title">
        <h1>{{brand}}</h1>
    </section>
    <section class="query-input" layout="column">
        <div class="container">
            <md-autocomplete md-selected-item="selectedLocation"
                             md-search-text="locationSearchText"
                             md-items="item in getLocationMatches(locationSearchText)"
                             md-item-text="item"
                             placeholder="location">
                <span md-highlight-text="locationSearchText">{{item}}</span>
            </md-autocomplete>
        </div>
        <div class="container">
            <md-autocomplete md-selected-item="selectedFood"
                             md-search-text="foodSearchText"
                             md-items="item in getFoodMatches(foodSearchText)"
                             md-item-text="item"
                             placeholder="food">
                <span md-highlight-text="foodSearchText">{{item}}</span>
            </md-autocomplete>
        </div>
        <div class="container">
            <md-autocomplete md-selected-item="selectedName"
                             md-search-text="nameSearchText"
                             md-items="item in getNameMatches(nameSearchText)"
                             md-item-text="item"
                             placeholder="name">
                <span md-highlight-text="nameSearchText">{{item}}</span>
            </md-autocomplete>
        </div>
    </section>
    <section class="buttons">
        <md-button class="md-raised md-primary"
                   ng-click="search(selectedLocation, selectedFood, selectedName)"
                   layout="column">
            Search
        </md-button>
    </section>
</div>