<div class="menu" ng-controller="MenuCtrl">
    <md-toolbar class="md-theme-light" ng-click="populate1()">
        <h1 class="md-toolbar-tools">
            <span>{{restaurant.name}} Menu</span>
        </h1>
    </md-toolbar>
    <md-content>
        <md-card ng-repeat="item in restaurant.menu">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><span class="badge">${{item.price}}</span>{{item.name}}</span>
                    <span class="md-subhead">{{item.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-fab md-raised md-primary"
                           ng-click="showAdvancedItemInfo($event, item)"
                           aria-label="Open menu item info"><i class="fa fa-info fa-2x"></i></md-button>
                <md-button class="md-fab md-raised md-primary"
                           ng-click="addToCart(item)"
                           aria-label="Add item to cart"><i class="fa fa-cart-arrow-down fa-2x"></i></md-button>
            </md-card-actions>
        </md-card>
    </md-content>
    <footer>
        <md-menu>
            <md-button aria-label="Open signal features" class="md-fab md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
                <i class="fa fa-bell fa-2x"></i>
            </md-button>
            <md-menu-content md-position-mode="target-right target">
                <md-menu-item>
                    <md-button ng-click="sendHelpSignal()">
                        <i class="fa fa-bell"></i>
                        Help
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="sendDrinksSignal()">
                        <i class="fa fa-beer"></i>
                        Drink refils
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="sendCheckSignal()">
                        <i class="fa fa-money"></i>
                        Check
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button aria-label="Open signal features" class="md-fab md-raised md-primary" ng-click="showAdvancedCart($event)">
            <i class="fa fa-shopping-cart fa-2x"></i>
        </md-button>
    </footer>
</div>