<div class="menu" ng-controller="MenuCtrl">
    <md-toolbar class="md-theme-light" ng-click="populate1()">
        <h1 class="md-toolbar-tools">
            <span>{{restaurant.name}} Menu</span>
        </h1>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in restaurant.menu">
                <div class="md-list-item-text">
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                </div>
                <md-button class="md-raised md-primary"><span class="badge">${{item.price}}</span> Order</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <footer>
            <md-menu>
                <md-button aria-label="Open signal features" class="md-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                    <i ng-show="table.signal" class="fa fa-bell fa-2x"></i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="ctrl.redial($event)">
                            <md-icon md-menu-align-target></md-icon>
                            Redial
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                            <md-icon></md-icon>
                            Check voicemail
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.toggleNotifications()">
                            <md-icon></md-icon>
                            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </footer>
    </md-content>
</div>