<md-dialog aria-label="menuItemFocus Info" class="menu-item-info">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="nameAndItem"> 
            <h2> {{menuItemFocus.name}} </h2>
            <h2> ${{menuItemFocus.price}} </h2>
        </div>
        <span flex></span>
        <md-button aria-label="exit tab" class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times fa-lg"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:1000px;max-height:850px; ">
      <md-tabs md-swipe-content="true" md-dynamic-height md-border-bottom>
        <md-tab label="description">
          <md-content class="md-padding">
                <div layout="column" layout-align="center">
                    <div class="md-list-menuItemFocus-text" layout="row" layout-align="center left">
                        <h3> {{menuItemFocus.description}} </h3>
                    </div>
                </div> 
        </md-content>
        </md-tab>
        <md-tab label="ingredients">
          <md-content class="md-padding">
          <div class="md-list-item-text" >
                <md-list-item ng-repeat="item in menuItemFocus.ingreedients.commonAlergens" >
                <li> {{ item }} </li>
                </md-list-item>
                <md-list-item ng-repeat="item in menuItemFocus.ingreedients.ingreedientsList" >
                <li> {{ item }} </li>
                </md-list-item>
                <p>gluten: {{menuItemFocus.ingreedients.gluttenFree}}</p>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <div class="addBtn">
        <md-button class="md-fab md-raised md-primary" ng-click="addMenuItem(menuItemFocus.name, menuItemFocus.price, 1)" aria-label="Add item to cart"><i class="fa fa-cart-arrow-down fa-2x"></i>
        </md-button>
    </div>
  </form>
</md-dialog>