<div class="restaurant-profile" ng-controller="RestaurantProfileCtrl">
    <div class="current-rest" layout="column">
        <div class="current-picture"><img ng-src="{{pictureUrl}}" alt="Description" />
        </div>
        <div class="prof" layout="column">
            <span>{{name}}</span>
            <span>{{avgRating}}</span>
        </div>
        <div class="links"></div>
        <div class="suggested"></div>
        <button ng-click="backToSearch()"
                class="btn btn-primary"
                id="viewRest">Back to Search
        </button>
    </div>
</div>