<div class="tablet" ng-controller="TabletCtrl">
    <div class="tables">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">
                <span>Tables</span>
            </h1>
        </md-toolbar>
        <div class="table-data">
            <div class="table" ng-repeat="table in tables"
                 ng-style="{left: {{table.x}} + 'px',
                            top: {{table.y}} + 'px',
                            'background-color': '{{table.color}}' }"
                 class="table-data-tables">
                <p class="table-number">
                    {{table.number}}
                </p>
                <p class="signal-icon">
                    <i ng-show="table.signal" class="fa fa-bell"></i>
                </p>
                <p class="drinks-icon">
                    <i ng-show="table.drinks" class="fa fa-beer"></i>
                </p>
                <p class="check-icon">
                    <i ng-show="table.check" class="fa fa-money"></i>
                </p>
                <p class="notifications" ng-show="table.notifications > 0">{{table.notifications}}</p>
            </div>
        </div>
    </div>
    <div class="feed">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">
                <span>Feed</span>
            </h1>
        </md-toolbar>
        <div class="feed-data">
            <div class="feed-item" ng-repeat="item in feed" ng-show="!item.closed">
                <div class="alert {{item.alertType}}" role="alert">
                    Table {{item.tableNum}} signaled for {{item.data}}!
                    <div class="close-alert-btn" ng-click="dismiss(item)">
                        <i class="fa fa-times fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>